text {
    font-size: 20px;
    padding: 12px;
}
.main_table {
    max-width: 15%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(255, 255, 255, 0.5);
}
.custom-field-number {
    font-size: 20px;
    position: relative;
}
.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(228, 228, 228);
    padding: 12px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}
.button {
    display: inline-block;
    background: #7700ff;
    color: #fff;
    border-color: #6a00e4;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
    line-height: 1;
}